* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

body {
  background-color: #f3f3f3 !important;
}

a:hover {
  text-decoration: none !important;
}

.zoom {
  padding: 50px;
  transition: transform 0.2s;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.zoom:hover {
  transform: translateY(-10px);
}

.text-title {
  display: block;
  font-size: 22px;
  line-height: 30px;
  padding: 15px 20px;
  text-transform: uppercase;
}
.text-title a {
  position: relative;
  color: #555555;
  float: right;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  padding-right: 10px;
}
.text-title a::after {
  content: "";
  position: absolute;
  border-top: 1px solid #555555;
  border-left: 1px solid #555555;
  height: 8px;
  width: 8px;
  right: 0;
  top: 12px;
  transform: rotate(135deg);
}

.header {
  max-width: 100vw;
}

.banner-media {
  background-color: #00b6f1;
  height: 44px;
  text-align: center;
}
.banner-media__slider {
  background-color: #00b6f1;
}

.header-v2 {
  background-color: #4a90e2;
  height: 114px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}
.header-v2__top {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 42px;
}
.header-v2__top a:hover {
  color: white;
}
.header-v2__top__logo {
  padding-right: 15px;
}
.header-v2__top__logo img {
  width: 229px;
  height: 41px;
}
.header-v2__top__address {
  color: white;
  font-size: 11px;
  line-height: 15px;
  margin-right: 21px;
  width: 11%;
  padding-left: 15px;
  border: 1px solid rgba(168, 208, 255, 0.38);
  padding: 4px 6px 4px 10px;
  border-radius: 4px;
  position: relative;
  text-decoration: none;
}
.header-v2__top__address::before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content: "";
  position: absolute;
  top: 46%;
  right: 10px;
}
.header-v2__top__address span {
  color: white;
  display: block;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  padding-right: 15px;
}
.header-v2__top__search {
  position: relative;
  width: 25%;
  border-radius: 4px;
  background-color: white;
}
.header-v2__top__search input {
  background-color: white;
  border: none;
  outline: none;
  height: 40px;
  font-size: 12px;
  line-height: 14px;
  border-radius: 4px;
  width: calc(100% - 35px);
  padding: 8px 8px 8px 13px;
}
.header-v2__top__search button {
  background-color: transparent;
  position: absolute;
  top: 25%;
  right: 10px;
  border: none;
  outline: none;
}
.header-v2__top__account-order {
  color: white;
  font-size: 12px;
  line-height: 14px;
  width: 8%;
  padding-left: 15px;
  border: 1px solid rgba(168, 208, 255, 0.38);
  padding: 6px 14px;
  margin: 0 24px;
  border-radius: 4px;
  position: relative;
  text-decoration: none;
  text-align: center;
}
.header-v2__top__card {
  color: white;
  font-size: 12px;
  line-height: 14px;
  width: 9%;
  padding-left: 15px;
  border: 1px solid rgba(168, 208, 255, 0.38);
  padding: 8px 10px;
  border-radius: 4px;
  position: relative;
  text-decoration: none;
}
.header-v2__top__card__box-card {
  display: inline-block;
}
.header-v2__top__card__box-card span {
  display: inline-block;
  font-size: 20px;
  margin-right: 8px;
}
.header-v2__top__card span {
  font-weight: 700;
  position: absolute;
  top: 30%;
  right: 10px;
}
.header-v2__top__listtop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-v2__top__listtop .listtop_item {
  text-align: center;
  font-size: 13px;
  padding: 0 12px;
}
.header-v2__top__listtop .listtop_item a {
  color: white;
  text-decoration: none;
}
.header-v2__main {
  width: 1200px;
  height: 52px;
  padding-top: 10px;
}
.header-v2__main .header-content {
  color: white;
  font-size: 14px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-v2__main .header-content > li {
  color: white;
  padding: 10px;
}
.header-v2__main .header-content__category {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-left: -10px;
}
.header-v2__main .header-content__category img {
  padding-right: 5px;
}
.header-v2__main .header-content__category::after {
  content: "";
  height: 16px;
  border: 0.5px solid #fff;
  position: absolute;
  right: 0;
  top: 30%;
}

.bordercol {
  background-color: #72b2fd;
  height: 32px;
  width: 1px;
}

.catergoty__dropdown {
  background-color: white;
  border: 1px solid #ebebeb;
  width: 250px;
  position: absolute;
  z-index: 10;
  top: 35px;
  left: 10px;
  display: none;
}
.catergoty__dropdown__main-menu {
  position: relative;
  width: 100%;
}
.catergoty__dropdown__main-menu .submenu {
  background-color: white;
  border: 1px solid #ebebeb;
  display: flex;
  position: absolute;
  left: 249px;
  top: 0;
  overflow: hidden;
  padding: 10px;
  height: 100%;
  display: none;
}
.catergoty__dropdown__main-menu .submenu a:hover {
  color: #2f80ed !important;
}
.catergoty__dropdown__main-menu .submenu aside {
  display: flex;
  flex-direction: column;
  width: 215px;
  margin-right: 20px;
}
.catergoty__dropdown__main-menu .submenu aside .menuitem {
  margin-bottom: 10px;
}
.catergoty__dropdown__main-menu .submenu aside .menuitem__title {
  border-bottom: 1px solid #ebebeb;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
}
.catergoty__dropdown__main-menu .submenu aside .menuitem__title a {
  color: #2f80ed;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  margin-left: 5px;
  padding: 0;
  position: relative;
  vertical-align: top;
  text-transform: initial;
}
.catergoty__dropdown__main-menu .submenu aside .menuitem__title a::before {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #2f80ed;
  content: "";
  position: absolute;
  top: 6px;
  right: -10px;
}
.catergoty__dropdown__main-menu .submenu aside .menuitem a {
  margin-bottom: 5px;
}
.catergoty__dropdown__main-menu .submenu aside a {
  display: block;
}
.catergoty__dropdown__main-menu a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  line-height: 16px;
}
.catergoty__dropdown__main-menu > li {
  border-bottom: 1px solid #ebebeb;
  padding: 2px;
  list-style-type: none;
}
.catergoty__dropdown__main-menu > li .dropdown {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
}
.catergoty__dropdown__main-menu > li .dropdown p {
  display: inline-block;
  margin: 0 0;
}
.catergoty__dropdown__main-menu > li .dropdown:hover {
  font-weight: bolder;
}
.catergoty__dropdown__main-menu > li .dropdown::before {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  content: "";
  height: 6px;
  position: absolute;
  top: calc(50% - 3px);
  transform: rotate(45deg);
  right: 5px;
  width: 6px;
}

.main-banner {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.main-banner a img {
  width: 100%;
  height: 920;
}

.main-container {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.my-carousel {
  margin-top: -100px;
  margin-bottom: 30px;
}
.my-carousel .carousel {
  border-radius: 20px;
}
.my-carousel .carousel .col-6 {
  padding-right: 10px;
  padding-left: 10px;
}
.my-carousel .carousel .carousel-item img {
  width: 620px;
  height: 180px;
  border-radius: 20px;
}
.my-carousel .carousel .carousel-control-prev {
  top: 35%;
  left: -25px;
  color: black;
  background-color: #ebebeb;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.my-carousel .carousel .carousel-control-next {
  top: 35%;
  right: -25px;
  color: black;
  background-color: #ebebeb;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.my-carousel .carousel .carousel-control-prev-icon, .my-carousel .carousel .carousel-control-next-icon {
  color: black;
}

.my-promo {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}
.my-promo li {
  background-color: #fff;
  display: flex;
  width: 285px;
  height: 100px;
  border-radius: 12px;
  border: 1px solid #ebebeb;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.my-promo li a {
  width: 80%;
}
.my-promo li a img {
  height: 70px;
  width: 70px;
}
.my-promo li a span {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  color: #222;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  margin-left: 10px;
}

.flashsale {
  position: relative;
  background-color: #ff3600;
  width: 100%;
  height: 915px;
  border-radius: 20px;
  margin: 30px 0;
}
.flashsale__header {
  width: 100%;
}
.flashsale__main {
  position: relative;
  text-align: center;
}
.flashsale__main__carousel {
  margin-top: 15px;
  margin-left: 20px;
}
.flashsale__main__carousel .row {
  margin-left: 0;
  margin-right: 0;
}
.flashsale__main__carousel .carousel-control-prev {
  top: 48%;
  left: -20px;
  background-color: #ebebeb;
  width: 30px;
  height: 50px;
}
.flashsale__main__carousel .carousel-control-next {
  top: 48%;
  right: -5px;
  background-color: #ebebeb;
  width: 30px;
  height: 50px;
}
.flashsale__main__carousel .material-symbols-outlined {
  color: black;
  font-size: 35px;
}
.flashsale__main h3 {
  height: 40px;
  font-size: 14px;
  color: #333;
}
.flashsale__main .item-col {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  width: 194px;
}
.flashsale__main .item {
  width: 100%;
  background-color: #fff;
  color: #333;
  padding: 0 5px 10px 5px;
  border-radius: 5px;
  margin-top: 10px;
}
.flashsale__main .item a:hover h3 {
  color: #4a90e2 !important;
}
.flashsale__main .item .item-img {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flashsale__main .item .item-img img {
  width: 174px;
  height: auto;
  display: block;
}
.flashsale__main .item a {
  text-decoration: none;
}
.flashsale__main .item .price {
  color: #d0021c;
  font-size: 18px;
  margin-bottom: 8px;
}
.flashsale__main .item .price .price-and-discount {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.flashsale__main .item .price .price-and-discount .price-old {
  color: #a4a4a4;
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: line-through;
}
.flashsale__main .item .price small {
  display: block;
  background-color: #fff0e9;
  font-weight: bold;
  padding: 3px;
  margin-left: 5px;
  border-radius: 5px;
}
.flashsale__main .item .flashsale-amount {
  position: relative;
  background-color: #d8d8d8;
  border-radius: 12px;
}
.flashsale__main .item .flashsale-amount img {
  position: absolute;
  top: -4px;
  left: 0;
  width: 20px;
  height: 26px;
}
.flashsale__main .item .flashsale-amount span {
  color: #000;
  font-size: 14px;
}

.deal-block {
  position: relative;
  background-color: #0963A6;
  width: 100%;
  border-radius: 20px;
  margin: 30px 0;
}
.deal-block__header {
  width: 100%;
  border-radius: 20px;
}
.deal-block__header img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.deal-block__main__carousel {
  margin-top: 20px;
}
.deal-block__main__carousel .row {
  margin-left: 10px;
  margin-right: 10px;
}
.deal-block__main__carousel .carousel-control-prev {
  top: 40%;
  left: -5px;
  background-color: #ebebeb;
  width: 30px;
  height: 50px;
}
.deal-block__main__carousel .carousel-control-next {
  top: 40%;
  right: -5px;
  background-color: #ebebeb;
  width: 30px;
  height: 50px;
}
.deal-block__main__carousel .material-symbols-outlined {
  color: black;
  font-size: 35px;
}
.deal-block__main__carousel .item-col {
  display: flex;
  width: 20%;
  padding-right: 5px;
  padding-left: 5px;
}
.deal-block__main__carousel .item {
  background-color: #fff;
  width: 100%;
  padding: 10px 10px 20px 10px;
  border-radius: 5px;
}
.deal-block__main__carousel .item a {
  text-decoration: none;
}
.deal-block__main__carousel .item .item-label span {
  border-radius: 2px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 11px;
  line-height: 12px;
  display: inline-block;
  margin-right: 4px;
  padding: 3px;
}
.deal-block__main__carousel .item .item-img {
  display: flex;
  width: 220px;
  height: 220px;
  align-items: center;
  margin-bottom: 10px;
}
.deal-block__main__carousel .item .item-img img {
  width: 207px;
  height: auto;
}
.deal-block__main__carousel .item h3 {
  color: #333;
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 21px;
}
.deal-block__main__carousel .item h3:hover {
  color: #4a90e2;
}
.deal-block__main__carousel .item .price {
  color: #d0021c;
  font-size: 18px;
  margin-bottom: 8px;
}
.deal-block__main__carousel .item .price small {
  color: #eb5757;
  background: #fff0e9;
  border-radius: 4px;
  padding: 1px 2px 2px 2px;
  margin-left: 7px;
  font-size: 14px;
}
.deal-block__main__carousel .item .vote-txt {
  display: flex;
  flex-direction: row;
  color: #999;
  align-items: center;
}
.deal-block__main__carousel .item .vote-txt b {
  color: #fb6e2e;
  display: inline-block;
}
.deal-block__main__carousel .item .vote-txt img {
  width: 20px;
  height: 18px;
  padding: 2px;
}
.deal-block__main__button {
  display: block;
  text-align: center;
  padding: 5px 0;
}
.deal-block__main__button a {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  color: #333;
  display: block;
  line-height: 16px;
  margin: 5px auto 10px;
  padding: 15px 20px;
  text-align: center;
  width: 340px;
  height: 48px;
}
.deal-block__main__button a span {
  position: relative;
  color: #333;
  display: inline-block;
  padding-right: 10px;
}
.deal-block__main__button a span::before {
  content: "";
  position: absolute;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  height: 6px;
  width: 6px;
  right: 0;
  top: 5px;
  transform: rotate(135deg);
}

.product-promo {
  position: relative;
  background-color: #FBC700;
  width: 100%;
  border-radius: 20px;
  margin: 30px 0;
}
.product-promo__main__tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
  list-style-type: none;
}
.product-promo__main__tab li {
  margin-right: 10px;
  background-color: rgba(216, 216, 216, 0.8);
  border-radius: 10px;
}
.product-promo__main__tab a {
  display: block;
  color: #333;
  line-height: 16px;
  padding: 15px 17px;
  text-align: center;
  width: 206px;
  height: 48px;
}
.product-promo__main__tab .active-tab {
  background-color: #fff !important;
}
.product-promo__main__carousel {
  margin-top: 20px;
}
.product-promo__main__carousel .row {
  margin-left: 10px;
  margin-right: 10px;
}
.product-promo__main__carousel .carousel-control-prev {
  top: 40%;
  left: -5px;
  background-color: #ebebeb;
  width: 30px;
  height: 50px;
}
.product-promo__main__carousel .carousel-control-next {
  top: 40%;
  right: -5px;
  background-color: #ebebeb;
  width: 30px;
  height: 50px;
}
.product-promo__main__carousel .material-symbols-outlined {
  color: black;
  font-size: 35px;
}
.product-promo__main__carousel .item-col {
  display: flex;
  width: 20%;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
  margin-bottom: 15px;
}
.product-promo__main__carousel .item {
  background-color: #fff;
  width: 100%;
  padding: 10px 10px 20px 10px;
  border-radius: 5px;
}
.product-promo__main__carousel .item a {
  text-decoration: none;
}
.product-promo__main__carousel .item .item-label span {
  border-radius: 2px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 11px;
  line-height: 12px;
  display: inline-block;
  margin-right: 4px;
  padding: 3px;
}
.product-promo__main__carousel .item .item-img {
  display: flex;
  width: 220px;
  height: 220px;
  align-items: center;
  margin-bottom: 10px;
}
.product-promo__main__carousel .item .item-img img {
  width: 207px;
  height: auto;
}
.product-promo__main__carousel .item h3 {
  color: #333;
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 21px;
}
.product-promo__main__carousel .item h3:hover {
  color: #4a90e2;
}
.product-promo__main__carousel .item .price {
  color: #d0021c;
  font-size: 18px;
  margin-bottom: 8px;
}
.product-promo__main__carousel .item .price small {
  color: #eb5757;
  background: #fff0e9;
  border-radius: 4px;
  padding: 1px 2px 2px 2px;
  margin-left: 7px;
  font-size: 14px;
}
.product-promo__main__carousel .item .vote-txt {
  display: flex;
  flex-direction: row;
  color: #999;
  align-items: center;
}
.product-promo__main__carousel .item .vote-txt b {
  color: #fb6e2e;
  display: inline-block;
}
.product-promo__main__carousel .item .vote-txt img {
  width: 20px;
  height: 18px;
  padding: 2px;
}
.product-promo__main__carousel .item .img--absolute {
  display: block;
  position: absolute;
  top: 0;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% + 15px);
  border-radius: 0;
}
.product-promo__main__button {
  display: block;
  text-align: center;
  padding: 5px 0;
}
.product-promo__main__button a {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  color: #333;
  display: block;
  line-height: 16px;
  margin: 5px auto 10px;
  padding: 15px 20px;
  text-align: center;
  width: 340px;
  height: 48px;
}
.product-promo__main__button a span {
  position: relative;
  color: #333;
  display: inline-block;
  padding-right: 10px;
}
.product-promo__main__button a span::before {
  content: "";
  position: absolute;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  height: 6px;
  width: 6px;
  right: 0;
  top: 5px;
  transform: rotate(135deg);
}

.shopping-trend {
  background-color: #ffecd2;
  border-radius: 20px;
  width: 100%;
}
.shopping-trend__title {
  display: block;
  font-size: 22px;
  line-height: 30px;
  padding: 15px 20px;
  text-transform: uppercase;
}
.shopping-trend__main {
  display: flex;
  justify-content: center;
  padding: 0 22px 30px;
}
.shopping-trend__main li {
  position: relative;
  width: 280px;
  background-color: #fff;
  display: inline-block;
  margin-right: 10px;
  border-radius: 10px;
}
.shopping-trend__main li a {
  text-decoration: none;
}
.shopping-trend__main li a img {
  width: 100%;
  height: auto;
}
.shopping-trend__main li a span {
  position: absolute;
  top: 160px;
  left: 20px;
  display: block;
  font-size: 19px;
  color: #000;
}
.shopping-trend__main li a strong {
  position: absolute;
  top: 190px;
  left: 20px;
  font-size: 17px;
  font-weight: 500;
  display: block;
  color: #2f80ed;
}

.category-trend {
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  position: relative;
}
.category-trend__main {
  margin-top: 15px;
}
.category-trend__main .row {
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}
.category-trend__main__item {
  width: 112px;
  height: 106px;
  text-align: center;
}
.category-trend__main__item a {
  text-decoration: none;
  color: #000;
}
.category-trend__main__item img {
  display: block;
  width: 55px;
  height: 55px;
  margin: auto;
}
.category-trend__main__item span {
  margin-top: 10px;
  font-size: 14px;
}

.service-convinient {
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 20px;
}
.service-convinient__main a:hover {
  text-decoration: none;
}
.service-convinient__main ul {
  padding: 0 22px 30px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.service-convinient__main ul li {
  float: left;
  width: 25%;
  background-color: #dceeff;
  border-radius: 20px;
  margin-right: 12px;
  padding: 14px 10px;
}
.service-convinient__main ul li:nth-child(2) {
  background-color: #fef5cf;
}
.service-convinient__main ul li:nth-child(3) {
  background-color: #ffefdb;
}
.service-convinient__main ul li:nth-child(4) {
  background-color: #e1fecf;
}
.service-convinient__main .box-iconv {
  display: inline-block;
}
.service-convinient__main .box-iconv .icon-card {
  background-image: url("/images/iconnew.webp");
  background-repeat: no-repeat;
  background-position: -273px -89px;
  display: inline-block;
  background-size: 310px 257px;
  width: 38px;
  height: 38px;
}
.service-convinient__main .box-iconv .icon-monney {
  background-image: url("/images/iconnew.webp");
  background-repeat: no-repeat;
  background-position: -273px -133px;
  display: inline-block;
  background-size: 310px 257px;
  width: 38px;
  height: 38px;
}
.service-convinient__main .box-iconv .icon-card-game {
  background-image: url("/images/iconnew.webp");
  background-repeat: no-repeat;
  background-position: -273px -175px;
  display: inline-block;
  background-size: 310px 257px;
  width: 38px;
  height: 38px;
}
.service-convinient__main .box-iconv .icon-card-ticket {
  background-image: url("/images/iconnew.webp");
  background-repeat: no-repeat;
  background-position: -273px -220px;
  display: inline-block;
  background-size: 310px 257px;
  width: 38px;
  height: 38px;
}
.service-convinient__main .text-conv {
  display: block;
  width: 80%;
  float: right;
}
.service-convinient__main .text-conv__title {
  padding: 6px 0 12px 0;
}
.service-convinient__main .text-conv small {
  display: block;
  font-size: 18px;
  line-height: 25px;
  color: #333;
}
.service-convinient__main .text-conv strong {
  color: #ff0b0b;
}

.sticky-sidebar a {
  position: fixed;
  top: 195px;
  width: 89px;
  z-index: 100;
}
.sticky-sidebar .banner-left {
  left: calc((100vw - 1200px) / 2 - 95px);
}
.sticky-sidebar .banner-right {
  right: calc((100vw - 1200px) / 2 - 105px);
}

footer {
  margin-top: 10px;
  width: 100%;
  background-color: #fff;
}
footer .footer-top {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
footer .footer-top__col {
  display: inline-block;
  margin-top: 10px;
}
footer .footer-top__col:first-child {
  width: 24%;
}
footer .footer-top__col:nth-child(2) {
  width: 19%;
}
footer .footer-top__col:nth-child(3) {
  width: 28%;
}
footer .footer-top__col:nth-child(4) {
  width: 29%;
}
footer .footer-top .f-listmenu {
  list-style-type: none;
  line-height: 20px;
}
footer .footer-top .f-listmenu li {
  margin-bottom: 10px;
}
footer .footer-top .f-listmenu a {
  position: relative;
  color: #333;
  font-size: 14px;
  text-decoration: none;
}
footer .footer-top .f-listmenu a:hover {
  color: #288ad6 !important;
}
footer .footer-top .f-listmenu .down-arrow::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  content: "";
  position: absolute;
  top: 7px;
  right: -15px;
}
footer .footer-top .f-social {
  margin-bottom: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-top .f-social a {
  display: flex;
  width: 30%;
  flex-direction: row;
  margin-right: 5px;
  align-items: center;
}
footer .footer-top .f-social .icon-facebook {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/icon_common.22122021@2x.webp);
  background-repeat: no-repeat;
  background-position: -225px 0px;
  display: inline-block;
  background-size: 300px 280px;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
footer .footer-top .f-social .icon-youtube {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/icon_common.22122021@2x.webp);
  background-repeat: no-repeat;
  background-position: -200px 0;
  display: inline-block;
  background-size: 300px 280px;
  height: 18px;
  width: 18px;
  margin-right: 2px;
}
footer .footer-top .f-certify {
  display: block;
}
footer .footer-top .f-certify a {
  margin-right: 5px;
}
footer .footer-top .f-certify ._ncsc img {
  width: 85px;
}
footer .footer-top .f-certify .icon-bocongthuong {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/icon_common.22122021@2x.webp);
  background-repeat: no-repeat;
  background-position: -200px -30px;
  display: inline-block;
  background-size: 300px 280px;
  width: 79px;
  height: 24px;
}
footer .footer-top .f-certify .icon-khieunai {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/icon_common.22122021@2x.webp);
  background-repeat: no-repeat;
  background-position: -250px 0px;
  display: inline-block;
  background-size: 300px 280px;
  width: 25px;
  height: 25px;
}
footer .footer-top .f-certify .icon-dmca {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/icon_common.22122021@2x.webp);
  background-repeat: no-repeat;
  background-position: -80px -60px;
  background-size: 300px 280px;
  display: inline-block;
  width: 122px;
  height: 24px;
}
footer .footer-top .f-website ul {
  list-style: none;
}
footer .footer-top .f-website .footer__logo-hd {
  color: #222;
  font-size: 14px;
  line-height: 21px;
}
footer .footer-top .f-website .footer__logo-list li {
  float: left;
  width: 80px;
  margin: 0 7px 7px 0;
}
footer .footer-top .f-website .footer__logo-list .iconlogo-thegioididong {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: inline-block;
  background-size: 250px 200px;
  width: 80px;
  height: 24px;
}
footer .footer-top .f-website .footer__logo-list .iconlogo-topzone {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  background-repeat: no-repeat;
  background-position: 0px -58px;
  display: inline-block;
  background-size: 250px 200px;
  width: 80px;
  height: 24px;
}
footer .footer-top .f-website .footer__logo-list .iconlogo-bachhoaxanh {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  background-repeat: no-repeat;
  background-position: -170px 0px;
  display: inline-block;
  background-size: 250px 200px;
  width: 80px;
  height: 24px;
}
footer .footer-top .f-website .footer__logo-list .iconlogo-ankhang {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  background-repeat: no-repeat;
  background-position: -85px -90px;
  display: inline-block;
  background-size: 250px 200px;
  width: 80px;
  height: 24px;
}
footer .footer-top .f-website .footer__logo-list .iconlogo-kids {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  background-repeat: no-repeat;
  background-position: -85px -120px;
  display: inline-block;
  background-size: 250px 200px;
  width: 80px;
  height: 24px;
}
footer .footer-top .f-website .footer__logo-list .iconlogo-4kfarm {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  background-repeat: no-repeat;
  background-position: 0px -90px;
  display: inline-block;
  background-size: 250px 200px;
  width: 80px;
  height: 24px;
}
footer .footer-top .f-website .footer__logo-list .iconlogo-vieclam {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  background-repeat: no-repeat;
  background-position: 0px -120px;
  display: inline-block;
  background-size: 250px 200px;
  width: 80px;
  height: 24px;
}

.hidden {
  display: none;
}/*# sourceMappingURL=base.css.map */